<!-- <div style="background-image: url('../../assets/background.jpg'); height: 900px;">
    <app-header></app-header>
    <div class="container mt-4">

        <h3 class="mt-3">Search Clients</h3>
        <div class="form-group position-relative mb-4">
            <input type="text" class="form-control w-50" placeholder="Search by client name"
                [value]="selectedClient?.name" (input)="onSearch()" #searchInput />
            <div *ngIf="filteredClients.length > 0" class="dropdown-menu show">
                <a *ngFor="let client of filteredClients" class="dropdown-item" href="#"
                    (click)="onClientSelect(client)">
                    {{ client.name }}
                </a>
            </div>
        </div>
        <div *ngIf="selectedClient && selectedClient.id">
            <h5>Client Details</h5>
            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">Client Name: </label>
                </div>
                <div class="col-md-3 ">
                    <label for="name" class="form-label">{{selectedClient.name}}</label>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">Country Name: </label>
                </div>
                <div class="col-md-3 ">
                    <label for="name" class="form-label">{{selectedClient.country}}</label>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">Industry Name: </label>
                </div>
                <div class="col-md-3 ">
                    <label for="name" class="form-label">{{selectedClient.industry}}</label>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">Template Option: </label>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-3 mb-3">
                    <div class="card" style="height: 150px; background-image: url('../assets/template-1.webp');">
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-check-input" type="radio" name="itemSelect" id="item1" value="item1">
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3 mb-3">
                    <div class="card" style="height: 150px; background-image: url('../assets/template-2.jpg');">
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-check-input" type="radio" name="itemSelect" id="item2" value="item2">
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3 mb-3">
                    <div class="card" style="height: 150px; background-image: url('../assets/template-1.webp');">
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-check-input" type="radio" name="itemSelect" id="item3" value="item3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="height: 150px; background-image: url('../assets/template-2.jpg');">
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-check-input text-center" type="radio" name="itemSelect" id="item3"
                                    value="item3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">KPI: </label>
                </div>
                <div class="col-md-3 ">
                    <label for="name" class="form-label">Industry Name</label>
                </div>
            </div>
            
            <button class="btn btn-primary" (click)="openModalWithComponent()">
                Preview
            </button>
        </div>
    </div>

    
</div>  -->
<!-- <app-header></app-header> -->
<div class="mac-book-air-3" style="background-image: url('../../assets/background.jpg');">
    <app-header></app-header>
    <h3 style="margin-left:100px">Search Clients</h3>
    <div style="margin-left:100px">
        <!-- <div class="row mt-5">
            <div class="col-md-5 mx-auto">
                <div class="input-group">
                    <input class="form-control border-end-0 border" type="search" value="search"
                        id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                            type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div> -->


        <input type="text" class="form-control w-50" placeholder="Search by client name" [value]="selectedClient?.name"
            (input)="onSearch()" #searchInput />
        <div *ngIf="filteredClients.length > 0" class="dropdown-menu show">
            <a *ngFor="let client of filteredClients" class="dropdown-item" (click)="onClientSelect(client)">
                {{ client.name }}
            </a>
        </div>
    </div>

    <div *ngIf="selectedClient && selectedClient.id" style="margin-left: 100px;margin-top: 25px;">
        <h5>Client Details</h5>
        <div class="row">
            <div class="col-md-2 ">
                <label for="name" class="form-label">Client Name: </label>
            </div>
            <div class="col-md-3 ">
                <label for="name" class="form-label">{{selectedClient.name}}</label>
            </div>
        </div>
        <div class="row">

            <div class="col-md-2 ">
                <label for="name" class="form-label">Country Name: </label>
            </div>
            <div class="col-md-3 ">
                <label for="name" class="form-label">{{selectedClient.country}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <label for="name" class="form-label">Industry Name: </label>
            </div>
            <div class="col-md-3 ">
                <label for="name" class="form-label">{{selectedClient.industry}}</label>
            </div>
        </div>

        <div class="row">
            <div class="text">Tags</div>
            <div class="tag-button">
                <div class="frame-1">
                    <div class="button-name">All</div>
                </div>
            </div>
            <div class="tag-button2">
                <div class="frame-1">
                    <div class="button-name2">Deals</div>
                </div>
            </div>
            <div class="tag-button3">
                <div class="frame-1">
                    <div class="button-name3">Engagement</div>
                </div>
            </div>
            <div class="tag-button4">
                <div class="frame-1">
                    <div class="button-name2">Tags 3</div>
                </div>
            </div>
            <div class="tag-button5">
                <div class="frame-1">
                    <div class="button-name2">Tags 4</div>
                </div>
            </div>
        </div>




        <div class="row" style="margin-top: 113px;">
            <div class="d-flex justify-content-between flex-wrap">
                <!-- Card 2 -->
                <div class="card" style="width: 18rem; margin-right: 50px;" *ngFor="let tagDetails of tagesInfo">
                    <div class="card-body">
                        <h5 class="today-s-sale">{{tagDetails.title}}</h5>
                        <p class="_12-426">{{tagDetails.count}}</p>
                    </div>
                    <div class="growth">
                        <div class="_36">{{tagDetails.tagName}}</div>
                    </div>
                </div>
            </div>
        </div>



        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
        </button>
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>





        <!-- <div class="line-47"></div>
        <div class="line-48"></div>
        <div class="member">
            <div class="name">
                <div class="full-name">Intro 1</div>
            </div>
            <img class="simple-line-icons-close2" src="assets/simple-line-icons-close1.svg" />
        </div>
        <div class="member2">
            <div class="name">
                <div class="full-name">Intro 2</div>
            </div>
            <img class="simple-line-icons-close3" src="assets/simple-line-icons-close2.svg" />
        </div>
        <div class="member3">
            <div class="name">
                <div class="full-name">Intro 3</div>
            </div>
            <img class="simple-line-icons-close4" src="assets/simple-line-icons-close3.svg" />
        </div>
        <div class="member4">
            <div class="name">
                <div class="full-name">KPI 1</div>
            </div>
            <img class="simple-line-icons-close5" src="assets/simple-line-icons-close4.svg" />
        </div>
        <div class="member5">
            <div class="name">
                <div class="full-name">KPI 2</div>
            </div>
            <img class="simple-line-icons-close6" src="assets/simple-line-icons-close5.svg" />
        </div>
        <div class="member6">
            <div class="name">
                <div class="full-name">KPI 4</div>
            </div>
            <img class="simple-line-icons-close7" src="assets/simple-line-icons-close6.svg" />
        </div>
        <div class="member7">
            <div class="name">
                <div class="full-name">Closing 1</div>
            </div>
            <img class="simple-line-icons-close8" src="assets/simple-line-icons-close7.svg" />
        </div>
        <div class="member8">
            <div class="name">
                <div class="full-name">Closing 2</div>
            </div>
            <img class="simple-line-icons-close9" src="assets/simple-line-icons-close8.svg" />
        </div> -->




        <!-- 
        <div class="row">

            <div class="col-md-2 ">
                <label for="name" class="form-label">Template Option: </label>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 mb-3">
                <div class="card" style="height: 150px; background-image: url('../assets/template-1.webp');">
                    <div class="card-body">
                        <div class="text-center">
                            <input class="form-check-input" type="radio" name="itemSelect" id="item1" value="item1">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 mb-3">
                <div class="card" style="height: 150px; background-image: url('../assets/template-2.jpg');">
                    <div class="card-body">
                        <div class="text-center">
                            <input class="form-check-input" type="radio" name="itemSelect" id="item2" value="item2">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 mb-3">
                <div class="card" style="height: 150px; background-image: url('../assets/template-1.webp');">
                    <div class="card-body">
                        <div class="text-center">
                            <input class="form-check-input" type="radio" name="itemSelect" id="item3" value="item3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="height: 150px; background-image: url('../assets/template-2.jpg');">
                    <div class="card-body">
                        <div class="text-center">
                            <input class="form-check-input text-center" type="radio" name="itemSelect" id="item3"
                                value="item3">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-2 ">
                <label for="name" class="form-label">KPI: </label>
            </div>
            <div class="col-md-3 ">
                <label for="name" class="form-label">Industry Name</label>
            </div>
        </div>

        <button class="btn btn-primary" (click)="openModalWithComponent()">
            Preview
        </button> -->
    </div>

    <!-- <div class="bar2">
        <input type="text" class="form-control w-50" placeholder="Search by client name" [value]="selectedClient?.name"
            (input)="onSearch()" #searchInput />
        <div *ngIf="filteredClients.length > 0" class="dropdown-menu show">
            <a *ngFor="let client of filteredClients" class="dropdown-item" href="#" (click)="onClientSelect(client)">
                {{ client.name }}
            </a>
        </div>
    </div> -->




</div>