<!-- <div style="background-image: url('../../assets/background.jpg'); height: 900px;">
    <app-header></app-header>
    <div class="container mt-4">

        <h3 class="mt-3">Search Clients</h3>
        <div class="form-group position-relative mb-4">
            <input type="text" class="form-control w-50" placeholder="Search by client name"
                [value]="selectedClient?.name" (input)="onSearch()" #searchInput />
            <div *ngIf="filteredClients.length > 0" class="dropdown-menu show">
                <a *ngFor="let client of filteredClients" class="dropdown-item" href="#"
                    (click)="onClientSelect(client)">
                    {{ client.name }}
                </a>
            </div>
        </div>
        <div *ngIf="selectedClient && selectedClient.id">
            <h5>Client Details</h5>
            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">Client Name: </label>
                </div>
                <div class="col-md-3 ">
                    <label for="name" class="form-label">{{selectedClient.name}}</label>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">Country Name: </label>
                </div>
                <div class="col-md-3 ">
                    <label for="name" class="form-label">{{selectedClient.country}}</label>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">Industry Name: </label>
                </div>
                <div class="col-md-3 ">
                    <label for="name" class="form-label">{{selectedClient.industry}}</label>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">Template Option: </label>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-3 mb-3">
                    <div class="card" style="height: 150px; background-image: url('../assets/template-1.webp');">
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-check-input" type="radio" name="itemSelect" id="item1" value="item1">
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3 mb-3">
                    <div class="card" style="height: 150px; background-image: url('../assets/template-2.jpg');">
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-check-input" type="radio" name="itemSelect" id="item2" value="item2">
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3 mb-3">
                    <div class="card" style="height: 150px; background-image: url('../assets/template-1.webp');">
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-check-input" type="radio" name="itemSelect" id="item3" value="item3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="height: 150px; background-image: url('../assets/template-2.jpg');">
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-check-input text-center" type="radio" name="itemSelect" id="item3"
                                    value="item3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-2 ">
                    <label for="name" class="form-label">KPI: </label>
                </div>
                <div class="col-md-3 ">
                    <label for="name" class="form-label">Industry Name</label>
                </div>
            </div>
            
            <button class="btn btn-primary" (click)="openModalWithComponent()">
                Preview
            </button>
        </div>
    </div>

    
</div>  -->
<!-- <app-header></app-header> -->
<div class="mac-book-air-3" style="background-image: url('../../assets/background.jpg'); background-size: cover;">
    <app-header></app-header>
    <h3 style="margin-left:100px">Search Clients</h3>
    <div style="margin-left:100px">

        <input type="text" class="form-control w-50" placeholder="Search by client name" [value]="selectedClient?.name"
            (input)="onSearch()" #searchInput />
        <div *ngIf="filteredClients.length > 0" class="dropdown-menu show">
            <a *ngFor="let client of filteredClients" class="dropdown-item" (click)="onClientSelect(client)">
                {{ client.name }}
            </a>
        </div>
    </div>

    <div *ngIf="selectedClient && selectedClient.id && !isChooseLanguage" style="margin-left: 100px;margin-top: 25px;">
        <h5>Client Details</h5>
        <div class="row">
            <div class="col-md-2 ">
                <label for="name" class="form-label">Client Name: </label>
            </div>
            <div class="col-md-3 ">
                <label for="name" class="form-label">{{selectedClient.name}}</label>
            </div>
        </div>
        <div class="row">

            <div class="col-md-2 ">
                <label for="name" class="form-label">Country Name: </label>
            </div>
            <div class="col-md-3 ">
                <label for="name" class="form-label">{{selectedClient.country}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <label for="name" class="form-label">Industry Name: </label>
            </div>
            <div class="col-md-3 ">
                <label for="name" class="form-label">{{selectedClient.industry}}</label>
            </div>
        </div>

        <div class="row">
            <div class="text">Tags</div>
            <div class="tag-button">
                <div class="frame-1">
                    <div class="button-name pointer">All</div>
                </div>
            </div>
            <div class="tag-button2">
                <div class="frame-1">
                    <div class="button-name2 pointer" style="    color: var(--blue-500, blue);">Deals</div>
                </div>
            </div>
            <div class="tag-button3">
                <div class="frame-1">
                    <div class="button-name3 pointer" style="    color: var(--green-500, #22c55e);">Engagement</div>
                </div>
            </div>
            <div class="tag-button4">
                <div class="frame-1">
                    <div class="button-name2 pointer">Tags 3</div>
                </div>
            </div>
            <div class="tag-button5">
                <div class="frame-1">
                    <div class="button-name2 pointer">Tags 4</div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 113px;">
            <div class="d-flex flex-wrap">
                <!-- Card 2 -->
                <div class="card" style="width: 18rem; margin-right: 25px;" *ngFor="let tagDetails of tagesInfo">
                    <div class="card-body">
                        <h5 class="today-s-sale">{{tagDetails.title}}</h5>
                        <input class="form-check-input growth" type="checkbox">
                        <p class="_12-426">{{tagDetails.count}}</p>
                    </div>
                    <div class="growth">
                        <div class="_36">{{tagDetails.tagName}}</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="primary-button-with-icon-left">
            <div class="frame-12">
                <div class="button-name4">Cancel</div>
            </div>
        </div>
        <div class="button-background"></div>
        <img class="arrow-icon" src="../../assets/arrow-icon0.svg" />
        <div class="choose-language" style="cursor: pointer;" (click)="chooseLanguage()">Choose language</div>
    </div>
</div>