<div class="bg">
    <div class="bg2"></div>
</div>
<div class="header">
    <div class="menu">       
        <div class="support">Support</div>
    </div>
</div>
<img class="assets-images-global-logos-bac-logo-v-2-csx-3648-cbbb-1" (click)="redirectToHome()"
    src="assets/assets-images-global-logos-bac-logo-v2-CSX3648cbbb 1.svg" style="cursor: pointer;"/>
<div class="group-17">
    <img class="avatar" src="assets/Avatar.svg" />
    <div class="text">
        <span>
            <span class="text-span">Aparna</span>
            <span class="text-span2"></span>
            <span class="text-span3"> Dey</span>
            <span class="text-span4"></span>
        </span>
    </div>
</div>


<div class="tag-title" [ngClass]="{'active': templateService.selectedPage === 'client-Search'}">Choose Client &amp; KPI</div>
<div class="progress-step-label" [ngClass]="{'active': templateService.selectedPage === 'choose-language'}">Choose language</div>
<div class="progress-step-label2" [ngClass]="{'active': templateService.selectedPage === 'theme'}">Theme</div>
<div class="progress-step-label4" [ngClass]="{'active': templateService.selectedPage === 'send'}">Send</div>
<img class="progress-indicator" src="assets/progress-indicator0.svg" />
<img class="progress-indicator2" src="assets/progress-indicator1.svg" />
<img class="progress-indicator3" src="assets/progress-indicator2.svg" />