<div class="mac-book-air-1" style="background-image: url('../../assets/background.jpg'); background-size: cover;">
    <app-header></app-header>
    <div class="group-18">
        <div class="rectangle-68" (click)="createNewTemplate()"></div>
        <div class="rectangle-69"></div>
        <div class="hugeicons-view">
            <img class="group" src="assets/hugeicons_view.svg" />
        </div>
        <div class="rectangle-70"></div>
        <div class="rectangle-71"></div>
    </div>
    <div class="new">New</div>
    <div class="view-sent">View sent</div>
    <div class="view-draft">View draft</div>
    <div class="analysis">Analysis</div>
    <img class="material-symbols-add-rounded" src="assets/material-symbols_add-rounded.svg" />
    <img class="material-symbols-light-draft-outline" src="assets/material-symbols-light_draft-outline.svg" />
    <div class="solar-graph-linear">
        <img class="group2" src="assets/solar_graph-linear.svg" />
    </div>
</div>